<section>
  <div class="jumbotron container">
    <div>
      <h1>
        Client List
      </h1>
      <div class="btn-group">
        <button class="btn btn-success pull-right">Create Item</button>
        <button class="btn btn-primary pull-right">Move Items</button>
        <button class="btn btn-primary pull right">Recieve Items</button>
      </div>
    </div>
  </div>
  <div class="tablewrapper">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Dog Name</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>name1</td>
          <td>Email1</td>
          <td>1</td>
          <td>1:00am</td>
        </tr>
        <tr>
          <td>name2</td>
          <td>Email2</td>
          <td>2</td>
          <td>2:00am</td>
        </tr>
        <tr>
          <td>name3</td>
          <td>Email3</td>
          <td>3</td>
          <td>3:00am</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>