<section>
  <div class="jumbotron container">
    <div>
      <h1>
        Client List
      </h1>
      <div class="btn-group">
        <button class="btn btn-success" (click)="this.openCreate()">Create Client</button>
        <button class="btn btn-primary">Print List</button>
      </div>
    </div>
  </div>
  <div class="tablewrapper">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Dog Name</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of this.clients" (click)="this.goDetails(client)">
          <td>{{client.name}}</td>
          <td>{{client.email}}</td>
          <td>{{client.dog_name}}</td>
          <td>{{client.updated | date: 'short'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>