<div class="jumbotron container col-8">
  <div>
    <h1>
      Login
    </h1>
    <form #formData="ngForm" (submit)="login(formData)" name="UserLogin" class="signin" autocomplete="off">
      <fieldset>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="email" (keyup.enter)="login(formData)" name="email" placeholder="email" required/>
        </div>
      </fieldset>
      <fieldset>
        <div class="form-group">
          <input type="password" class="form-control" [(ngModel)]="password" (keyup.enter)="login(formData)" name="password" placeholder="password" required/>
        </div>
      </fieldset>
      <div class="btn-group">
        <button type="submit" [disabled]="!formData.valid" class="btn btn-primary">Sign In</button>
      </div>
    </form>
    <div *ngIf="false">
      <ngb-alert [dismissible]="false">
        <strong>Login Error!</strong>
      </ngb-alert>
    </div>
  </div>
</div>
