<div class="modal-header">
  <h4 class="modal-title">Edit Client</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <form (ngSubmit)="onSubmit()" #editClientForm="ngForm">
      <div class="form-group">
        <label for="name">
          <strong>Name</strong>
        </label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="formData.name" required>
      </div>
      <div class="form-group">
        <label for="email">
          <strong>Email</strong>
        </label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="formData.email" required>
      </div>
      <div class="form-group">
        <label for="dogName">
          <strong>Dog Name</strong>
        </label>
        <input type="text" class="form-control" id="dogName" name="quantity" [(ngModel)]="formData.dog_name">
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!editClientForm.form.valid">Submit</button>
      <button type="button" class="btn btn-primary" (click)="activeModal.close('Close click')">Close</button>
    </form>
  </div>
</div>