<section>
  <div class="jumbotron container">
    <div>
      <h1>
        Inventory List
      </h1>
      <div class="btn-group">
        <button class="btn btn-success">Create Item</button>
        <button class="btn btn-primary">Move Items</button>
        <button class="btn btn-primary">Recieve Items</button>
        <button class="btn btn-primary">Print List</button>
      </div>
    </div>
  </div>
  <div class="tablewrapper">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>UPC</th>
          <th>Quantity</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>name1</td>
          <td>upc1</td>
          <td>1</td>
          <td>1:00am</td>
        </tr>
        <tr>
          <td>name2</td>
          <td>upc2</td>
          <td>2</td>
          <td>2:00am</td>
        </tr>
        <tr>
          <td>name3</td>
          <td>upc3</td>
          <td>3</td>
          <td>3:00am</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>