<!--The content below is only a placeholder and can be replaced.-->
<article class="container">
  <div>
    <img class="img-responsive" src="../assets/logo-header-horizontal-blue.png" style="width:50%; height:50%" alt="K9 Partners for Patriots"
    />
  </div>
  <ngb-tabset type="pills">
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>Inventory</b></ng-template>
      <ng-template ngbTabContent>
        <app-item></app-item>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>Clients</b></ng-template>
      <ng-template ngbTabContent>
        <app-client></app-client>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        <b>Users</b>
      </ng-template>
      <ng-template ngbTabContent>
        <app-user></app-user>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</article>