<section>
  <div class="jumbotron container">
    <div>
      <h1>
        User List
      </h1>
      <div class="btn-group">
        <button class="btn btn-success pull-right">Create User</button>
        <button class="btn btn-primary pull-right">Move Users</button>
        <button class="btn btn-primary pull right">Recieve Users</button>
      </div>
    </div>
  </div>
  <div class="tablewrapper">
    <table class="table table-bordered table-striped table-hover">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>User Name</th>
          <th>Email</th>
          <th>User Type</th>
          <th>Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>name1</td>
          <td>User Name1</td>
          <td>1</td>
          <td>user</td>
          <td>1:00am</td>
        </tr>
        <tr>
          <td>name2</td>
          <td>User Name2</td>
          <td>2</td>
          <td>user</td>
          <td>2:00am</td>
        </tr>
        <tr>
          <td>name3</td>
          <td>User Name3</td>
          <td>3</td>
          <td>admin</td>
          <td>3:00am</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>