<ngb-tabset type="pills">
  <ngb-tab>
    <ng-template ngbTabTitle>
      <b>Inventory</b>
    </ng-template>
    <ng-template ngbTabContent>
      <app-item></app-item>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <b>Clients</b>
    </ng-template>
    <ng-template ngbTabContent>
      <app-client></app-client>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <b>Users</b>
    </ng-template>
    <ng-template ngbTabContent>
      <app-user></app-user>
    </ng-template>
  </ngb-tab>
</ngb-tabset>